
<head>
    <style>
    #main{margin:200px;}
    </style>
</head>

<body>
    <div id = "main">
        <label for = "url">Enter your URL Here</label>
        <input type = "text" id = "url" name = "url"><br>
        <button onclick= "getqrcode()">Get QR Code</button>
        <h1>Your QR is below</h1>
        <div id = "canvas">
            <img id = "qri" src = <%-url%>
        </div><br>
        <input type = "email" name = "mail" id = "mail">
        <button id = "mailsend" onclick = "mailsender()">Send to email</button>
    </div>



    <script>
        let imageqr = "";
        async function getqrcode(){
            console.log("Function called");
            const urltosend = document.getElementById("url").value;
                imageqr = await fetch("http://localhost:4000/getqr", {
            method: "GET",
            headers: {
            "urlhead": urltosend
        }
    });
    const fi = await imageqr.json();
    console.log("The qr code is " + fi);
    document.getElementById("qri").src = fi;
        }

        async function mailsender(){
            const qrcode = document.getElementById("qri").src;
            const mailaddress = document.getElementById("mail").value;
            console.log("The mail sender has been called");
            console.log("The image details is " + qrcode);
            const result = await fetch("http://localhost:4000/sendmail", {
            method: "GET",
            headers: {
            "qrcode": qrcode,
            "mailaddress": mailaddress
        }
        });
        console.log(result.json());
    }
        
        

    </script>
    <!-- JavaScript Libraries -->

    <!-- Template Javascript -->
</body>