
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>
    <style>
      #qrimg{width:200px; border:20px solid black;}
    </style>
  </head>
  <body>
   <div class = "container">
    <h1>Your generated QR Code is here.</h1>
    <center><img src = "cid:unique@nodemailer.com" id = "qrimg"></center>
   </div>
  
